body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.header {
  width: 100%;
}

.header__container {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__nav {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.header__link {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

main {
  width: 1280px;
  display: flex;
  justify-content: space-around;
  gap: 40px;
  margin: 0 auto;
}

.burger-ingredients {
}

.burger-ingredients__categories {
}

.burger-ingredients__category {
}

.burger-ingredients__items {
}

.burger-ingredients__item {
}

.burger-ingredients__image {
}

.burger-ingredients__price {
}

.burger-ingredients__name {
}
